.container {
  margin: 25px;
}

.header {
  padding-bottom: 13px;
}

.form-container-additional-style {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
}

.button-container {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.button {
  background-color: rgb(119, 8, 91);
  color: aliceblue;
  border-radius: 20px;
  border-width: 0;
  padding: 10px 28px;
  cursor: pointer;
}

.input {
  padding: 0 12px;
}
